<!DOCTYPE html>
<html>
  <head>
    <title>MyRestaurantsManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>My amazing footer</p>
    <!-- link_to name of the link, the url -->
    <p><%= link_to "List Restaurants", restaurants_path %></p>
    <p><%= link_to "Contact Us", contact_path %></p>
  </body>
</html>
